.product-hunt .container {
    max-width: 800px;
    font-size: 13px;
  }

 .product-hunt .post {
    z-index: 1;
    padding: 10px;
    margin: 0;
  }

  .product-hunt .picture {
    overflow: hidden;
    max-height: 100px;
  }